{% extends "base.html" %}

<!-- This has a form which has to be filled out for editing an existing room. This can only be filled out if the user is the admin of the room -->

{% block content %}
    <h1>Edit Room</h1>
    <h3>{{ message }}</h3>
    <form method="post">
        <label>Room name: </label>
        <input type="text" name="room_name" value="{% if room.name %}{{ room.name }}{% else %}{{ room._id }}{% endif %}">
        <br>
        <label>Members: </label>
        <input type="text" name="members" value="{{ room_members_str }}">
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
